{% extends "Main.html" %}

{% block content %}

<div class="container mt-5">
   
    <div class="text-center">
        <h1>About This Page</h1>
        <p>Discover the purpose and the person behind this project</p>
    </div>
                    
                        <div class="section text-center">
                            <h2>Welcome to the World of Japan</h2>
                            <p>
                                Japan is a land of rich traditions, stunning landscapes, and a culture that seamlessly blends the
                                ancient with the modern. From the bustling streets of Tokyo to the serene temples of Kyoto, Japan offers
                                something for everyone.
                            </p>
                        </div>
                        <br>
                        <br>

                
                        
                                      


                    <h3 class="display-6 text-center"> About authors</h3>
                    <div class="row text-center item-center ">
                       
                        
                        <div class="col-md-4 mb-4">
                         <div class="card city-card">
                                <img src="https://www.elfainartshop.com/cdn/shop/products/charizardXma_3622f79f-b394-4784-a8d1-671eb6c01d37_grande.jpg?v=1673223441" class="card-img" alt="Pokemon-junior">
                                <div class="card-body">
                                    <h5 class="card-title">Radecu</h5>
                                    <p class="card-text">Developer Junior</p>
                                </div>
                            </div>
                        </div>
                    

         
                        <div class="col-md-4 mb-4">
                         <div class="card city-card">
                                <img src="https://i.pinimg.com/736x/b8/14/42/b814422332770b3a30a1cb7812b241b7.jpg" class="card-img" alt="Pokemon-senior">
                                <div class="card-body">
                                    <h5 class="card-title">AI</h5>
                                    <p class="card-text">Developer Senior AI smart</p>
                                </div>
                            </div>
                        </div>
                    
                        <div class="col-md-4 mb-4">
                            <div class="card city-card">
                                   <img src="https://www.elfainartshop.com/cdn/shop/products/charizardXma_3622f79f-b394-4784-a8d1-671eb6c01d37_grande.jpg?v=1673223441" class="card-img" alt="Pokemon-junior">
                                   <div class="card-body">
                                       <h5 class="card-title">Brain</h5>
                                       <p class="card-text">Developer Logistic</p>
                                   </div>
                               </div>
                           </div>
                    
                    
                    </div>

<section class=" content2">
    <div class="container my-5">
        <div class="row justify-content-center">
            <h4 class=" text-center">Enjoy your NEXT trip to JAPAN!!</h4>
            <div class="col-12">
                <div class="card big-city-card">
                    <img src="https://cdnx.jumpseller.com/uwu-store/image/47298791/posavaso_web_copia.jpg?1712164426" alt="Map Japan">
                </div>
            </div>
        </div>
    </div>


</section>

{% endblock %}