{% extends "Main.html" %}

{% block content %}

<div class="container mt-5">
    <h2 class="mb-4">List of Cities</h2>
    <div class="row">
        <!-- Loop through each city in the cities context variable -->
        {% for city in cities %}
        <div class="col-md-6 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{% url 'CityTemp' city.id %}">{{ city.name }}</a> <!-- Use the city ID to generate a dynamic URL -->
                    </h5>
                    <p class="card-text">{{ city.description }}</p> <!-- Display city description -->
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>




<section class="welcome-section content2">
    <div class="container ">
        <h1 class="display-4">Map of Japan</h1>
        
    </div>


    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="card big-city-card">
                    <img src="https://cdn.osaka-info.jp/page_translation/content/6b948558-05b0-11e8-86ae-0af0cba29dd8.png" alt="Map Japan">
                </div>
            </div>
        </div>
    </div>


</section>

{% endblock %}