{% extends "MainCity.html" %}

{% block content %}


    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-12">
                <h2 class="card-title">{{ city.name }}</h2>
                <div class="card big-city-card">
                    <img src="{{ city.image_url }}" alt="{{ city.name }}" class="img-fluid">
                    <div class="card-body">
                        <p class="card-text">{{ city.description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="container my-5">

<a href="{% url 'cities_list' %}" class="btn btn-secondary mt-4">Back to City List</a>
{#   <a href="https://en.wikipedia.org/wiki/Tokyo_City" >#}

</div>




{% endblock %}