
<footer class="footer" class="bg-dark text-black text-center py-4">
    <div class="container">
        <p>&copy; 2024 Our Site. All rights reserved.</p>
    <p>Made by Rade <a href="mailto:rade@ra.de" class="text-white">rade@ra.de</a></p>
    {% if request.resolver_match.url_name == 'Account' %}
    
        <p> If you need change info of your profile please <b>contact admin of this site</b>.</p>

<script>
    function convertCurrency() {
        const usdAmount = document.getElementById('usdAmount').value;
    
        // Frankfurter API URL for converting USD to JPY
        const url = `https://api.frankfurter.app/latest?amount=${usdAmount}&from=USD&to=JPY`;
    
        fetch(url)
            .then(response => response.json())
            .then(data => {
                const jpyAmount = data.rates.JPY;
                document.getElementById('result').innerText = `${usdAmount} USD = ${jpyAmount} JPY`;
            })
            .catch(error => {
                document.getElementById('result').innerText = 'Error fetching exchange rate';
                console.error('Error:', error);
            });
    }
    
    
</script>
        

    {% endif %}
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    {% if request.resolver_match.url_name == 'CityTemp' %}
<script>
let mybutton = document.getElementById("scrollToTopBtn");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {
    scrollFunction();
};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        mybutton.style.display = "block";
    } else {
        mybutton.style.display = "none";
    }
}

// When the user clicks on the button, scroll to the top of the document
mybutton.onclick = function() {
    document.body.scrollTop = 0; // For Safari
    document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE, and Opera
};
</script>
{% endif %}






  </footer>