{% extends "Main.html" %}

{% block content %}
 

<section class="welcome-section content2">
    <div class="container ">
        <h1 class="display-6"> Welcome to Explore Japan: Your Ultimate Guide to Japan's Hidden Gems</h1>
   

       <br>

        <p>Japan is a land of contrasts, where the ancient and the modern seamlessly blend to create a unique cultural landscape. 
        From the neon-lit streets of Tokyo to the serene temples of Kyoto, Japan offers an endless array of experiences for every traveler.
        Whether you're a first-time visitor or a seasoned explorer, our blog is here to guide you through the wonders of this fascinating country.
        </p>

        <p>
        At Explore Japan, we dive deep into the heart of Japan’s most captivating cities, 
        revealing the best places to visit, eat, and stay. Our blog is not just about the famous landmarks; we take you off the beaten path to discover the lesser-known treasures that make each city unique. Whether you're looking to soak in an onsen in Hakone, wander through the historic districts of Kanazawa, or taste the freshest sushi in Hokkaido, you'll find all the information you need right here.
        </p>
    </div>


    <div class="container my-5">
        <h2 class="display-8"> Popular city of this month is {{ city.name }} 東京</h2>
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="card big-city-card">
                    <img src="https://media.cntraveler.com/photos/63482b255e7943ad4006df0b/16:9/w_2560%2Cc_limit/tokyoGettyImages-1031467664.jpeg" alt="Tokyo">
                    <div class="card-body">
                        <p class="card-text">Explore the bustling capital city, known for its skyscrapers, shopping, and vibrant culture.</p>
                        <a href="{% url 'cities_list' %}"" class="btn btn-primary">Check more cities to visit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
















    {% comment %}
        
            <div class="container">
                <h2 class="display-5"> Popular</h2>
                <div class="row">
                    <div class="col-md-4 mb-4">
                     <div class="card city-card">
                            <img src="https://media.istockphoto.com/id/499127037/photo/sika-deer-at-nara-park.jpg?s=612x612&w=0&k=20&c=RXrALZo8hAR0SEyDGyY7O07a2PL6WAxLGju7HD5-J74=" class="card-img" alt="Nara">
                            <div class="card-body">
                                <h5 class="card-title">Nara</h5>
                                <p class="card-text">Discover the ancient city of Nara, home to Japan's first capital, renowned for its historic temples, stunning gardens, and friendly, free-roaming deer.</p>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4 mb-4">
                        <div class="card city-card">
                            <img src="https://gaijinpot.scdn3.secure.raxcdn.com/app/uploads/sites/6/2021/02/Kyoto-Japan-old-town-streets-in-the-Higashiyama-district@3x-1024x683.jpg" class="card-img" alt="Kyoto">
                            <div class="card-body">
                                <h5 class="card-title">Kyoto</h5>
                                <p class="card-text">Discover the historical heart of Japan, famous for its classical Buddhist temples, gardens, and geisha district.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="card city-card">
                            <img src="https://photos.smugmug.com/Osaka/Osaka-Categories/i-J9MFjBv/0/XL/Osaka_Districts-XL.jpg" class="card-img" alt="Osaka">
                            <div class="card-body">
                                <h5 class="card-title">Osaka</h5>
                                <p class="card-text">Experience the vibrant nightlife, delicious street food, and impressive architecture of Osaka.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="container">
                <h2 class="display-5"> Recomended</h2>
                <div class="row">
                    <div class="col-md-4 mb-4">
                        <div class="card city-card">
                            <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2a/53/ba/b4/caption.jpg?w=1200&h=-1&s=1" class="card-img" alt="Hiroshima">
                            <div class="card-body">
                                <h5 class="card-title">Hiroshima</h5>
                                <p class="card-text">A city known for its historical significance and resilience, Hiroshima is home to the Peace Memorial Park and Museum, symbolizing hope and recovery.</p>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4 mb-4">
                        <div class="card city-card">
                            <img src="https://cdn.cheapoguides.com/wp-content/uploads/sites/3/2023/05/nagoya-castle.jpg" class="card-img" alt="Nagoya">
                            <div class="card-body">
                                <h5 class="card-title">Nagoya</h5>
                                <p class="card-text">A bustling industrial hub, Nagoya is famous for its automotive industry, historical Nagoya Castle, and the Atsuta Shrine, one of Japan's most important Shinto shrines.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="card city-card">
                            <img src="https://emmajaneexplores.com/wp-content/uploads/2015/06/Untitled-design.png" class="card-img" alt="Sapporo">
                            <div class="card-body">
                                <h5 class="card-title">Sapporo</h5>
                                <p class="card-text">The capital of Hokkaido, Sapporo is renowned for its annual Snow Festival, delicious ramen, and as a gateway to some of Japan’s best skiing and natural hot springs.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endcomment %}
    

           


</section>

{% endblock %}