{% extends "Main.html" %}

{% block content %}
 

<section class="welcome-section content2">
    <div class="container">
        <h1 class="display-6"> Welcome to Explore Japan: Your Ultimate Guide to Japan's Hidden Gems</h1>
   

       <br>

        <p>Japan is a land of contrasts, where the ancient and the modern seamlessly blend to create a unique cultural landscape. 
        From the neon-lit streets of Tokyo to the serene temples of Kyoto, Japan offers an endless array of experiences for every traveler.
        Whether you're a first-time visitor or a seasoned explorer, our blog is here to guide you through the wonders of this fascinating country.
        </p>

        <p>
        At Explore Japan, we dive deep into the heart of Japan’s most captivating cities, 
        revealing the best places to visit, eat, and stay. Our blog is not just about the famous landmarks; we take you off the beaten path to discover the lesser-known treasures that make each city unique. Whether you're looking to soak in an onsen in Hakone, wander through the historic districts of Kanazawa, or taste the freshest sushi in Hokkaido, you'll find all the information you need right here.
        </p>
    

         <br>
                       
                    

    
        <h2 class="display-7 text-center"> Popular city of this month is {{ city.name }} 東京</h2>
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="card big-city-card">
                    <img src="https://media.cntraveler.com/photos/63482b255e7943ad4006df0b/16:9/w_2560%2Cc_limit/tokyoGettyImages-1031467664.jpeg" alt="Tokyo">
                    <div class="card-body">
                        <p class="card-text">Explore the bustling capital city, known for its skyscrapers, shopping, and vibrant culture.</p>
                        <a href="{% url 'cities_list' %}" class="btn btn-primary">Check more cities to visit</a>
                    </div>
                </div>
            </div>
        </div>
    



    <br>

        <h3>The Japanese Language</h3>
        <p>
            The Japanese language is as fascinating as the country itself. With its unique writing system that
            includes kanji, hiragana, and katakana, learning Japanese is a journey into a world of intricate
            characters and beautiful sounds.
        </p>
        <p>
            Whether you're a beginner or an advanced learner, mastering Japanese opens up new opportunities to
            connect with the culture, people, and history of Japan. It's a challenging yet rewarding language that
            provides deep insights into the Japanese way of thinking and living.
        </p>
        <a href="{% url 'Learn' %}" class="btn btn-primary">Check out useful phrases</a>


        <br>
        <br>
        <h3>Japanese Culture & Traditions</h3>
        <p>
            Japanese culture is renowned for its attention to detail, respect for tradition, and innovation. From
            tea ceremonies to anime, from sushi to sumo, Japan offers a cultural experience that is both diverse and
            enriching.
        </p>
        <p>
            Understanding Japanese customs, etiquette, and social norms can greatly enhance your appreciation of the
            country's rich heritage and make your interactions more meaningful.
        </p>
        <a href="{% url 'Culture' %}" class="btn btn-primary">Check out useful phrases</a>

    </div>


</section>

{% endblock %}