{% extends "Main.html" %}

{% block content %}
 

<section class="welcome-section content2">
    <div class="container ">
        <h1 class="display-4">Share Experiences and Learn New Insights</h1>
        <p class="lead"> Unveiling the Beauty and Wisdom of Japanese Culture, One Post at a Time.</p>
    </div>


    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="card big-city-card">
                    <img src="https://media.cntraveler.com/photos/63482b255e7943ad4006df0b/16:9/w_2560%2Cc_limit/tokyoGettyImages-1031467664.jpeg" alt="Tokyo">
                    <div class="card-content">
                        <h2 class="card-title">Tokyo</h2>
                        <p class="card-text">Explore the bustling capital city, known for its skyscrapers, shopping, and vibrant culture.</p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


            <div class="container">
                <div class="row">
                    <div class="col-md-4 mb-4">
                        <div class="card city-card">
                            <img src="https://media.istockphoto.com/id/499127037/photo/sika-deer-at-nara-park.jpg?s=612x612&w=0&k=20&c=RXrALZo8hAR0SEyDGyY7O07a2PL6WAxLGju7HD5-J74=" class="card-img" alt="Nara">
                            <div class="card-body">
                                <h5 class="card-title">Nara</h5>
                                <p class="card-text">Discover the ancient city of Nara, home to Japan's first capital, renowned for its historic temples, stunning gardens, and friendly, free-roaming deer.</p>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4 mb-4">
                        <div class="card city-card">
                            <img src="https://gaijinpot.scdn3.secure.raxcdn.com/app/uploads/sites/6/2021/02/Kyoto-Japan-old-town-streets-in-the-Higashiyama-district@3x-1024x683.jpg" class="card-img" alt="Kyoto">
                            <div class="card-body">
                                <h5 class="card-title">Kyoto</h5>
                                <p class="card-text">Discover the historical heart of Japan, famous for its classical Buddhist temples, gardens, and geisha district.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="card city-card">
                            <img src="https://photos.smugmug.com/Osaka/Osaka-Categories/i-J9MFjBv/0/XL/Osaka_Districts-XL.jpg" class="card-img" alt="Osaka">
                            <div class="card-body">
                                <h5 class="card-title">Osaka</h5>
                                <p class="card-text">Experience the vibrant nightlife, delicious street food, and impressive architecture of Osaka.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


           


</section>

{% endblock %}