
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
   

        <a class="navbar-brand" href="{% url 'Main' %}">Main</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
         
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
         
          
               <li class="nav-item active">
                <a class="nav-link" href="{% url 'Cities' %}">Cities <span class="sr-only">(current)</span></a>
              </li>

              {% comment "" %}
              <li class="nav-item">
             <a class="nav-link" href="{% url 'Home' %}">HomePage</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'About' %}">AboutPage</a>
              </li>
              {% endcomment %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'Learn' %}">Learning</a>
              </li>
                 
              <li class="nav-item">
                <a class="nav-link" href="{% url 'TravelOrders' %}">Travel itinerary</a>
              </li>
           

           
           
           </ul>
           <form class="d-flex">

            <a class="btn btn-primary btn-md me-md-2 m-1" href="{% url 'Login' %}">Login</a>
        
            <a class="btn btn-secondary btn-md m-1"  href="{% url 'Registration' %}">Register</a>
            </form>

  

          </div>
        </nav>