
{% extends "Main.html" %}

{% block content %}


<h1>Preview {{ vocab_list.title }}</h1>
<section class=" content2">
<table class="table">
    <thead>
        <tr>
            <th>Japanese Word</th>
            <th>English Translation</th>
        </tr>
    </thead>
    <tbody>
        {% for word in words %}
        <tr>
            <td>{{ word.japanese_word }}</td>
            <td>{{ word.english_translation }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</section>

{% endblock %}