{% extends "Main.html" %}



{% block content %}
<section class="content2">
    <div class="container mt-5">
        <h2>Your Vocabulary Lists</h2>
    
        <!-- Button to create a new vocabulary list -->
        <a href="{% url 'create_vocabulary_list' %}" class="btn btn-primary mb-3">Create New List</a>
    
        <ul class="list-group">
            {% if vocab_lists.exists %}
                {% for vocab_list in vocabulary_lists %}
                    <li class="list-group-item">
                        <a href="{% url 'vocab_list_detail' list_id=vocab_list.id %}">{{ vocab_list.name }}</a>
                    </li>
                {% endfor %}
            {% else %}
                <li class="list-group-item">You haven't created any vocabulary lists yet.</li>
            {% endif %}
        </ul>
    </div>
</section>

{% endblock %}
